@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

/*  Variables */
:root{
    --primary: #4978AD;
    --secondary: #181C1F;
}
/* reset */
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Oxanium Regular', serif;
}
/* base style*/
body{
    background: var(--secondary);
    overflow-x: hidden;
}
/* fonts*/
@font-face {
    font-family: 'Oxanium Regular';
    src: url("fonts/Oxanium/Oxanium-Regular.ttf");
}

h1, h2, h3{
    color: #DDDBFF;
    font-weight: normal;
}

h1{
    font-size: 1.2em;
}

h2{
    font-size: 1.6em;
}

/* mobiele styles */

/* kleine tablet styles*/
@media screen and ( min-width: 620px) {

}

/* Grote tablets & laptop styles */

@media screen and (min-width: 960px){

    body{
        font-size: 18px;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    body{
        font-size: 20px;
    }
}


h1{
    display: inline-flex;
}

a {
    color: #f27173;
    text-decoration: none;
}

a:hover {
    color: #e25f5f;
    text-decoration: underline;
}



body{
    background-color: #181C1F;
}