/*  Variables */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

/* reset */

/* fonts*/

/* mobiele styles */

/* kleine tablet styles*/
@media screen and ( min-width: 620px) {

}

/* Grote tablets & laptop styles */

@media screen and (min-width: 960px){

}

/* Desktop */
@media screen and (min-width: 1200px) {

}

body, html {
    display: grid;
    color: white;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}
h1{
    display: inline-flex;
}

a {
    color: #f27173;
    text-decoration: none;
}

a:hover {
    color: #e25f5f;
    text-decoration: underline;
}



body{
    background-color: #181C1F;
}